<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.rawgit.com/jgthms/bulma/master/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./public/stylesheets/student.css">
  <title>{{title}} {{name}}</title>

</head>
<body>
  <section class="is-fullheight is-inverted">
  <!-- Hero header: will stick at the top -->
  <div class="hero-header">
    <header class="header">
      <div class="container">
        <div class="header-left">
          <div class="navbar-left">
            <div class="navbar-item">
              <p class="control is-grouped">
                <input class="input" type="text" placeholder="Find a post">
                <button class="button">
                  Search
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="header-center">
          <a class="header-icon" href="https://github.com/ibaena">
            <i class="fa fa-github"></i>
          </a>
          <a class="header-icon" href="https://twitter.com/NotThefakeIB">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
        <span class="header-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="header-right header-menu">
          <span class="header-item">
            <a class="is-active" href="/teachers">Home</a>
          </span>
          <span class="header-item">
            <a href="#">Menu</a>
          </span>
          <span class="header-item">
            <a href="/">Logout</a>
          </span>
        </div>
      </div>
    </header>
  </div>
</section>

  <!-- Hero content: will be in the middle -->
  <div class="hero-content">
    <div class="container">
      {{{body}}}
    </div>
  </div>


  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../public/javascripts/main.js"></script>

</body>

</html>
