<h1 class="title">
  Welcome To ClassDb
</h1>
<div class="columns is-mobile">
  <form class="column" action="register/" method="POST">
    <p class="control has-icon">
      <input class="input" type="text" required="required" placeholder="First name" name="firstname">
      <i class="fa fa-plus"></i>
    </p>
    <p class="control has-icon">
      <input class="input" type="text" required="required" placeholder="Last Name" name="lastname">
      <i class="fa fa-plus"></i>
    </p>
    <p class="control has-icon">
      <input class="input" type="email" placeholder="Email" name="email">
      <i class="fa fa-envelope"></i>
    </p>
    <p class="control has-icon">
      <input class="input" type="password" required="required" placeholder="Password" name="password">
      <i class="fa fa-lock"></i>
    </p>
    <p class="control">
  <label class="checkbox">
    <input type="checkbox" name="student" value="true" class="question">
    Student
  </label>
  <label class="checkbox">
    <input type="checkbox" name="teacher" value="true" class="question">
  Teacher
  </label>
</p>
    <p class="control">
      <button class="button is-success is-inverted" id="register-submit">
        Register
      </button>
    </p>
    <span class="header-item">
      <a class="subtitle is-active" href="/">Already Have an account, login now!</a>
    </span>
  </form>
</div>
