<h1 class="title">
Welcome Back!
</h1>
<div class="columns is-mobile">
  <div class="column is-3" id="profile">
    <img src="http://placehold.it/100x100">
    <p>
      {{fname}} {{lname}}
    </p>
  </div>
  <div class="column is-6 main">
    <div class="notification is-success"><!--start mock content-->
  <button class="delete"></button>
  Success lorem ipsum dolor sit amet, consectetur
  adipiscing elit lorem ipsum dolor sit amet,
  consectetur adipiscing elit
</div>
<div class="notification is-success">
<button class="delete"></button>
Success lorem ipsum dolor sit amet, consectetur
adipiscing elit lorem ipsum dolor sit amet,
consectetur adipiscing elit
</div>
<div class="notification is-success">
<button class="delete"></button>
Success lorem ipsum dolor sit amet, consectetur
adipiscing elit lorem ipsum dolor sit amet,
consectetur adipiscing elit
</div><!--mock content-->
  </div>
  <div class="column is-3" id="aside"></div>
</div>
<div class="columns is-mobile">
  <div class="column is-3" id="trends"></div>
  <div class="column is-6"></div>
  <div class="column is-3" id="footer">
    © 2016 Ivan Baena
</div>
</div>
