<h1 class="title">
Welcome Back!
</h1>
<div class="columns is-mobile">
  <div class="column is-3">
    <div id="profile">
      <img src="http://placehold.it/100x100" alt="profile">
      <p>
        {{fname}} {{lname}}
      </p>
      <ul>
        <li><a>Followers</a></li>
        <li><a>Favorites</a></li>
        <li><a>Following</a></li>
      </ul>
    </div>
  </div>
  <div class="column is-6">
    <div id="main">
      <p class="control is-grouped">
        <input class="input" type="text" placeholder="Update us!">
        <a class="button is-success">Send</a>
      </p>
      <div class="notification is-success">
        <!--start mock content-->
        <button class="delete"></button>
        Success lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor sit amet, consectetur adipiscing elit
      </div>
      <div class="notification is-success">
        <button class="delete"></button>
        Success lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor sit amet, consectetur adipiscing elit
      </div>
      <div class="notification is-success">
        <button class="delete"></button>
        Success lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor sit amet, consectetur adipiscing elit
      </div>
    </div>
    <!--mock content-->
  </div>
  <div class="column is-3">
    <div id="aside">
      <h3 class="title">Student List</h3>
      <ul>
        {{#each teacher}}
          {{#if this.teacher}}
            <li>
              {{this.firstname}} {{this.lastname}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<div class="columns is-mobile">
  <div class="column is-3">
    <div id="trends">
      <h5 class="title">Skills & Hobbies</h4>
      <span class="tag">NodeJS</span>
      <span class="tag">Javascript</span>
      <span class="tag">Basketball</span>
      <span class="tag">Music</span>
    </div>
  </div>
  <div class="column is-6"></div>
  <div class="column is-3">
    <div id="footer">
          © 2016 Ivan Baena
    </div>
</div>
</div>
